@font-face {
    font-family: 'MaPolice';
    src: url('Luciole_webfonts/Luciole_webfonts/Luciole-Regular/Luciole-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'MaPolice', sans-serif !important;
}